<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.alma.telekocsi" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Starter" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".MainMenu" android:label="@string/app_name"/>
		<activity android:name=".DriverTab" android:label="@string/app_name"/>
		<activity android:name=".OccupantTab" android:label="@string/app_name"/>
		<activity android:name=".ConnectionParameters" android:label="@string/app_name"/>
		<activity android:name=".ProfileSettings" android:label="@string/app_name"/>
		<activity android:name=".PreferencesSettings" android:label="@string/app_name"/>
		<activity android:name=".MainMenuOld" android:label="@string/app_name"/>
		<activity android:name=".Identification" android:label="@string/app_name"/>
		<activity android:name=".checking.ConnectionParametersChecking" android:label="@string/app_name"/>
		<activity android:name=".checking.ProfileChecking" android:label="@string/app_name"/>
		<activity android:name=".checking.PreferencesChecking" android:label="@string/app_name"/>
		<activity android:name=".checking.IdentificationChecking" android:label="@string/app_name"/>
		<activity android:name=".TrajetRecherche" android:label="@string/app_name"/>
		<activity android:name=".TrajetTrouve" android:label="@string/app_name"/>
		<activity android:name=".Transaction" android:label="@string/app_name"/>
		<activity android:name=".GoogleMapActivity" android:label="@string/app_name"/>

		<uses-library android:name="com.google.android.maps" />		

	

<activity android:launchMode="singleInstance" android:name=".session.SessionImpl"></activity>
</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.NETWORK_PROVIDER" />
	<uses-permission android:name="android.permission.GPS_PROVIDER" />
	 

</manifest> 